@charset "UTF-8";

/* fonte do h2 */
@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap');

/* fonte do h1 */
@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Caprasimo&display=swap');

/* fonte do paragrafo */
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Belanosima:wght@400;600;700&family=Caprasimo&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor01: #0D1321;
    --cor02: #468189;
    --cor03: #9FFCDF;
    --cor04: #F6F740;
    --cor05: #B24C63;

    --font-h2: 'Belanosima', sans-serif;
    --font-h1: 'Caprasimo', cursive;
    --font-p: 'ABeeZee', sans-serif;
}
body {
    background-color: var(--cor01);
}

header {
    background-image: linear-gradient(to top, white, var(--cor03), var(--cor02));
    padding: 10px;
    margin-bottom: 10px;
}

header > img {
    display: block;
    width: 100px;
    margin: auto;
}

h1 {
    text-align: center;
    font-family: var(--font-h1); 
}

main {
    margin-top: 0px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--cor02);
    color: white;
    font-size: 1em;
    line-height: 2em;

}

main  a {
    text-decoration: none;
    color: var(--cor01);
    background-color: var(--cor03);
    border-radius: 2px;
    padding: 1px;
}

h2 {
    font-family: var(--font-h2);
    padding: 10px;
    color: var(--cor02);
}

main > h2 {
    color: var(--cor01);
    /* (para degradê no h2 do main) background-image: linear-gradient(to left, var(--cor02), rgba(255, 255, 255, 0.452), var(--cor03), var(--cor02));
    border-radius: 5px; */
}

div#audio {
    display: flex;
    justify-content: center;
    background-color: var(--cor02);
    margin-bottom: 30px;
}

div#audio > iframe {
    height: 150px;
    width: 300px;
}

section > h2 {
    color: var(--cor01);
}

div > h3 {
    color: var(--cor04);
}

main > p {
    margin: 10px;
    letter-spacing: 1px;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor03);
    background-color: var(--cor01);
    transition: 1.3s;
}

article {
    padding: 10px;
}

article > h3 {
    text-align: center;
    color: var(--cor04);
}

article > p {
    text-align: center;
    color: var(--cor03);
}

section#sectionmapa {
    color: var(--cor03);
    background-color: var(--cor01);
    border-radius: 5px;
    margin: 15px;
}

section#sectionmapa > h2{
    color: var(--cor02);
}

main > section > p {
    margin: 10px;
    letter-spacing: 1px;
}

div#mapa {
    display: flex;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}

footer {
    background-color: var(--cor02);
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    background-color: red;
    /* background-image: linear-gradient(to bottom, white, var(--cor03), var(--cor02)); */
}

footer a {
    color: var(--cor01);
    background-color: var(--cor03);
    border-radius: 2px;
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor03);
    background-color: var(--cor01);
    transition: 1.3s;
}
