@charset "UTF-8";

/* fonte do h2 */
@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap');

/* fonte do h1 */
@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Caprasimo&display=swap');

/* fonte do paragrafo */
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Belanosima:wght@400;600;700&family=Caprasimo&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor01: #0D1321;
    --cor02: #468189;
    --cor03: #9FFCDF;
    --cor04: #F6F740;
    --cor05: #B24C63;

    --font-h2: 'Belanosima', sans-serif;
    --font-h1: 'Caprasimo', cursive;
    --font-p: 'ABeeZee', sans-serif;
}
body {
    background-color: var(--cor01);
}

header {
    background-image: linear-gradient(to top, white, var(--cor03), var(--cor02));
    padding: 10px;
    margin-bottom: 10px;
}

h1 {
    text-align: center;
    font-family: var(--font-h1);
}

main {
    margin-top: 0px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--cor02);
    color: white;
    font-size: 1em;
    line-height: 2em;

}

h2 {
    font-family: var(--font-h2);
    padding: 10px;
    color: var(--cor02);
}

main > h2 {
    color: var(--cor01);
}

section > h2 {
    color: var(--cor01);
}

main > p {
    margin: 10px;
    letter-spacing: 1px;
}

section#sectionmapa {
    color: var(--cor03);
    background-color: var(--cor01);
    border-radius: 5px;
    margin: 15px;
}

section#sectionmapa > h2{
    color: var(--cor02);
}

main > section > p {
    margin: 10px;
    letter-spacing: 1px;
}

div#mapa {
    display: flex;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}

footer {
    background-color: var(--cor02);
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    background-image: linear-gradient(to bottom, white, var(--cor03), var(--cor02));
}